
*.png
notebooks/.ipynb_checkpoints/GPR-checkpoint.ipynb
notebooks/.ipynb_checkpoints/GPC-checkpoint.ipynb
notebooks/.ipynb_checkpoints/GPRnet-checkpoint.ipynb
notebooks/.ipynb_checkpoints/GPCnet-checkpoint.ipynb
GPR3+.py
GPR3.py
*.pyc
