
*.png
notebooks/.ipynb_checkpoints/GPR-checkpoint.ipynb
notebooks/.ipynb_checkpoints/GPC-checkpoint.ipynb
notebooks/.ipynb_checkpoints/GPRnet-checkpoint.ipynb
notebooks/.ipynb_checkpoints/GPCnet-checkpoint.ipynb
GPR3+.py
GPR3.py
*.pyc
*.pyc
.ipynb_checkpoints/report_notebook-checkpoint.ipynb
__pycache__/GPnet.cpython-36.pyc
